---
interface Props {
  title: string;
  desc?: string;
}
const { title, desc } = Astro.props;
---

<section
  class="relative my-4 rounded-lg py-4 after:absolute after:bottom-[0%] after:left-[0%] after:h-[3px] after:w-[100%] after:rounded-lg after:bg-white after:bg-opacity-20"
>
  <h2 class={`text-3xl font-bold ${!desc && "pb-4"}`}>
    {title}
  </h2>
  {desc && <p class="pb-4 text-lg font-medium ">{desc}</p>}
  <div class="pl-2 md:pl-6">
    <slot />
  </div>
</section>
