---
type TextColor = "red" | "yellow" | "green" | "blue" | "inherit" | "base";
type FontSize = "sm" | "lg" | "xl" | "2xl" | "normal";
type FontWeight = "400" | "500" | "600" | "700" | "800";
interface Props {
  color?: TextColor;
  size?: FontSize;
  weight?: FontWeight;
  cut?: boolean;
}
const { color = "inherit", size = "normal", weight = "500", cut } = Astro.props;

const textColorClass: { [color in TextColor]: string } = {
  red: "text-red-300",
  yellow: "text-yellow-600",
  green: "text-green-300",
  blue: "text-blue-300",
  inherit: "text-inherit",
  base: "text-white",
};
const textSizeClass: { [size in FontSize]: string } = {
  sm: "text-sm",
  lg: "text-lg",
  xl: "text-xl",
  "2xl": "text-2xl",
  normal: "text-base",
};
const textWeightClass: { [weight in FontWeight]: string } = {
  "400": "font-normal",
  "500": "font-medium",
  "600": "font-semibold",
  "700": "font-bold",
  "800": "font-extrabold",
};
---

<p
  class={`${textColorClass[color]} ${textSizeClass[size]} ${
    textWeightClass[weight]
  } ${cut && "indent-2"} py-2 leading-relaxed`}
>
  <slot />
</p>
