---
import Link from "./link.astro";

interface Props {
  ref?: string;
}
const { ref } = Astro.props;
const shortLink = ref?.slice(8, 19) + "..." + ref?.slice(63, ref.length);
---

<header class="overflow-x-hidden text-ellipsis py-4">
  <h1 class="pb-1 text-5xl font-black text-slate-200">
    <slot />
  </h1>
  {
    ref && (
      <a href={ref} target="_blank" rel="noopener noreferrer">
        <code class="w-fit cursor-pointer rounded-sm bg-blue-600 bg-opacity-50 px-[2px] font-semibold underline decoration-red-500 underline-offset-2 shadow-md">
          {shortLink}
        </code>
      </a>
    )
  }
</header>
