---
interface Props {
  link: string;
}
const { link } = Astro.props;
---

<a href={link} class="relative flex gap-4 py-[0.2rem] pl-3">
  <svg
    width="1.2rem"
    height="1.2rem"
    viewBox="0 0 14 20"
    class="self-center rounded-sm bg-red-700 fill-slate-200 py-[2px]"
  >
    <path
      d="M13.8131 5.01563C13.9324 5.14955 14 5.33036 14 5.52009V19.2857C14 19.6808 13.7156 20 13.3636 20H0.636364C0.284375 20 0 19.6808 0 19.2857V0.714286C0 0.319196 0.284375 0 0.636364 0H9.0821C9.25114 0 9.4142 0.0758929 9.53352 0.209821L13.8131 5.01563ZM12.5324 5.84821L8.78977 1.64732V5.84821H12.5324ZM3.18182 9.33036C3.13962 9.33036 3.09916 9.34917 3.06932 9.38266C3.03949 9.41615 3.02273 9.46157 3.02273 9.50893V10.5804C3.02273 10.6277 3.03949 10.6731 3.06932 10.7066C3.09916 10.7401 3.13962 10.7589 3.18182 10.7589H10.8182C10.8604 10.7589 10.9008 10.7401 10.9307 10.7066C10.9605 10.6731 10.9773 10.6277 10.9773 10.5804V9.50893C10.9773 9.46157 10.9605 9.41615 10.9307 9.38266C10.9008 9.34917 10.8604 9.33036 10.8182 9.33036H3.18182ZM3.18182 12.3661C3.13962 12.3661 3.09916 12.3849 3.06932 12.4184C3.03949 12.4519 3.02273 12.4973 3.02273 12.5446V13.6161C3.02273 13.6634 3.03949 13.7089 3.06932 13.7423C3.09916 13.7758 3.13962 13.7946 3.18182 13.7946H6.84091C6.8831 13.7946 6.92357 13.7758 6.9534 13.7423C6.98324 13.7089 7 13.6634 7 13.6161V12.5446C7 12.4973 6.98324 12.4519 6.9534 12.4184C6.92357 12.3849 6.8831 12.3661 6.84091 12.3661H3.18182Z"
    ></path>
  </svg>
  <p class="font-semibold">{link.slice(2)}</p>
</a>
