---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout>
  <section
    class="flex-col py-20 md:flex md:min-h-[35rem] md:items-center md:justify-center md:p-8"
  >
    <h1 class="py-8 text-center text-4xl font-extrabold">Welcome to Engine</h1>
    <div class="relative mx-auto grid h-fit w-full max-w-5xl gap-8">
      <canvas class="absolute left-0 top-0 z-[-1] h-full w-full"></canvas>
      <p class="justify-self-center px-4 text-center md:w-1/2 md:px-0">
        This is temperary page for develop purpose only, you can find here
        tutorials, starting point or Docs
      </p>
      <p class="justify-self-center px-4 text-center md:w-1/2 md:px-0">
        Please note that this project is currently under construction and should
        not be used in any way. This website has been created solely for the
        purpose of providing the latest version of documentation to individuals
        involved in the project.
      </p>
      <div
        class="flex gap-4 self-center justify-self-center text-sm font-bold md:gap-8 md:text-lg"
      >
        <a href="/tutorials/gettingStarted/gettingStarted">
          <button class="w-36 rounded-3xl bg-blue-900 px-4 py-2 md:w-48"
            >Getting Started</button
          >
        </a>
        <a href="/docs/engine/engine">
          <button class="w-32 rounded-3xl bg-green-800 px-4 py-2 md:w-40"
            >Docs</button
          >
        </a>
      </div>
    </div>
  </section>
  <section class="bg-slate-300 bg-opacity-50 p-4">
    <h2 class="text-center text-4xl font-extrabold">1. Idea</h2>
    <div
      class="mx-auto grid max-w-5xl grid-rows-2 md:grid-cols-2 md:grid-rows-none md:p-4"
    >
      <p class="self-center p-4 md:self-start">
        ideą silnika jest tworzyc prosto, szybko i latwo proste gierki. Nie
        robic zadnych skomplikowanych gier pelnych niuansow graficznych a
        wlasnie cos typu pokemony czy zelda, generalnie idea gry ponad jej
        wyglad czy skompliowanie
      </p>
      <img
        class="pointer-events-none h-56 w-64 self-center justify-self-center md:h-72 md:w-80"
        src="/gameTwo.png"
        alt="game Two"
      />
    </div>
  </section>
  <section class="bg-slate-500 bg-opacity-50 p-4">
    <h2 class="text-center text-4xl font-extrabold">2. Tech</h2>
    <div
      class="mx-auto grid max-w-5xl grid-rows-2 md:grid-cols-2 md:grid-rows-none md:p-4"
    >
      <p class="self-center p-4 md:order-2 md:self-start">
        ideą silnika jest tworzyc prosto, szybko i latwo proste gierki. Nie
        robic zadnych skomplikowanych gier pelnych niuansow graficznych a
        wlasnie cos typu pokemony czy zelda, generalnie idea gry ponad jej
        wyglad czy skompliowanie
      </p>
      <img
        class="pointer-events-none order-2 h-56 w-64 self-center justify-self-center md:order-1 md:h-72 md:w-80"
        src="/gameTwo.png"
        alt="game Two"
      />
    </div>
  </section>
  <section class="bg-slate-300 bg-opacity-50 p-4">
    <h2 class="text-center text-4xl font-extrabold">3. Edytor</h2>
    <div
      class="mx-auto grid max-w-5xl grid-rows-2 md:grid-cols-2 md:grid-rows-none md:p-4"
    >
      <p class="self-center p-4 md:self-start">
        ideą silnika jest tworzyc prosto, szybko i latwo proste gierki. Nie
        robic zadnych skomplikowanych gier pelnych niuansow graficznych a
        wlasnie cos typu pokemony czy zelda, generalnie idea gry ponad jej
        wyglad czy skompliowanie
      </p>
      <img
        class="pointer-events-none h-56 w-64 self-center justify-self-center md:h-72 md:w-80"
        src="/gameTwo.png"
        alt="game Two"
      />
    </div>
  </section>
</MainLayout>

<script>
  const canva = document.querySelector("canvas")!;
  const ctx = canva.getContext("2d")!;
  let x = 20;
  function loop() {
    ctx.clearRect(0, 0, canva.width, canva.height), ctx.beginPath();
    ctx.beginPath();
    ctx.fillRect(x, 20, 150, 100);
    ctx.closePath();
    x += 1;
    if (x > canva.width) x = -150;
    window.requestAnimationFrame(loop);
  }
  loop();
</script>
