---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen bg-slate-800 text-slate-200">
    <nav class="flex items-center text-lg font-extrabold">
      <svg
        width="76"
        height="76"
        viewBox="0 0 76 76"
        fill="none"
        class="ml-4 mt-2"
      >
        <g clip-path="url(#clip0_352_373)">
          <path
            d="M45.9435 5.6681L59.7865 15.9114L62.3319 32.943L52.0886 46.786L35.057 49.3314L21.214 39.0881L18.6686 22.0565L28.9119 8.21349L45.9435 5.6681Z"
            fill="#393838"></path>
          <path
            d="M45.5311 10.2031L44.7822 11.9731C43.5593 11.6602 42.3002 11.5093 41.034 11.524L40.8362 9.53739L36.6482 10.0972L36.8563 12.1807C35.6617 12.5468 34.5102 13.061 33.4266 13.7123L32.2092 11.9857L28.7994 14.6528L30.0541 16.432C29.1885 17.3491 28.4288 18.3689 27.7912 19.4695L25.8027 18.5896L24.0853 22.6522L26.0964 23.5425C25.7581 24.7891 25.5679 26.0488 25.5204 27.2978L23.3244 27.5909L23.7588 31.9604L25.9337 31.6692C26.2193 32.9019 26.6446 34.0913 27.2006 35.2124L25.4702 36.5661L27.9408 40.0688L29.6145 38.7589C30.4437 39.6705 31.3907 40.4832 32.4411 41.174L31.6289 43.0972L35.4715 44.7969L36.2487 42.959C37.4806 43.3337 38.7314 43.5362 39.9778 43.5772L40.1665 45.4625L44.3524 44.9022L44.1737 43.1063C45.4397 42.7774 46.6648 42.2834 47.8198 41.636L48.7928 43.0165L52.2011 40.3466L51.2684 39.0246C52.235 38.0599 53.0806 36.9707 53.7838 35.7844L55.1999 36.4104L56.915 32.3473L55.5218 31.7317C55.8993 30.3949 56.1095 29.0165 56.147 27.6314L57.6546 27.4298L57.2201 23.0603L55.6865 23.265C55.3641 21.9386 54.8795 20.6649 54.2446 19.4752L55.5363 18.4638L53.0685 14.9594L51.7253 16.0109C50.8262 15.0821 49.8007 14.2657 48.6621 13.5876L49.3736 11.9026L45.5311 10.2031ZM44.106 13.5534C44.8916 13.738 45.6584 13.9954 46.3973 14.3228C53.2759 17.3646 56.3679 25.7451 53.2941 33.0171C50.2205 40.289 42.1337 43.7266 35.2551 40.6848C28.3767 37.6428 25.2847 29.2621 28.3583 21.9903C31.0479 15.6273 37.5773 12.2001 43.7752 13.4805C43.8859 13.5034 43.9957 13.5276 44.106 13.5534ZM43.782 14.9172C43.6823 14.8937 43.5821 14.8704 43.4823 14.8497C37.8851 13.6889 32.01 16.7756 29.5784 22.5288C26.7992 29.1038 29.5822 36.6453 35.8017 39.3956C42.0209 42.1459 49.2958 39.0514 52.075 32.4763C54.8541 25.9014 52.0726 18.3627 45.8532 15.6124C45.1852 15.3168 44.492 15.0842 43.782 14.9172ZM43.4807 16.2455C44.1051 16.3922 44.7254 16.5981 45.3339 16.8671C50.8966 19.327 53.3835 26.0702 50.8978 31.951C48.4122 37.832 41.9076 40.5973 36.3448 38.1375C34.6377 37.3825 33.2211 36.2239 32.1481 34.8107L42.1569 26.9769L45.0237 31.0446L50.3559 26.8712L44.4842 18.5444L36.7978 19.3745L40.65 24.8377L30.8136 32.5405C29.5478 29.6689 29.436 26.2351 30.7808 23.0534C32.9558 17.9076 38.2073 15.1479 43.2132 16.1862C43.3026 16.2047 43.3915 16.2246 43.4807 16.2455Z"
            fill="#59004B"></path>
          <path
            d="M35.2463 21.5483C34.4484 21.1318 34.7378 19.9268 35.6379 19.917L35.9031 19.915C36.0573 19.9135 36.2083 19.8709 36.3404 19.7914C36.4725 19.7119 36.581 19.5985 36.6545 19.463C36.728 19.3275 36.7639 19.1747 36.7585 19.0207C36.7531 18.8666 36.7066 18.7167 36.6237 18.5867L36.4821 18.363C35.9989 17.6037 36.8525 16.7044 37.6358 17.147L37.8675 17.2767C38.0017 17.3525 38.1537 17.391 38.3078 17.3883C38.4619 17.3855 38.6125 17.3416 38.7439 17.2611C38.8753 17.1805 38.9828 17.0663 39.0552 16.9303C39.1276 16.7942 39.1623 16.6412 39.1557 16.4873L39.1442 16.2226C39.1053 15.3247 40.2943 14.9715 40.7514 15.7467L40.8865 15.9745C40.9647 16.1073 41.0771 16.2168 41.2119 16.2916C41.3468 16.3664 41.4992 16.4037 41.6533 16.3997C41.8074 16.3958 41.9577 16.3506 42.0885 16.269C42.2193 16.1873 42.3259 16.0722 42.3971 15.9354L42.5194 15.7001C42.9358 14.9022 44.1409 15.1915 44.1506 16.0917L44.1527 16.3569C44.1541 16.5111 44.1968 16.6621 44.2762 16.7942C44.3557 16.9263 44.4691 17.0348 44.6046 17.1083C44.7401 17.1818 44.8929 17.2177 45.047 17.2123C45.2011 17.2069 45.3509 17.1603 45.4809 17.0775L45.7047 16.9359C46.4639 16.4527 47.3632 17.3063 46.9207 18.0895L46.791 18.3213C46.7152 18.4555 46.6766 18.6075 46.6794 18.7616C46.6821 18.9157 46.726 19.0663 46.8066 19.1977C46.8871 19.3291 47.0013 19.4366 47.1374 19.509C47.2734 19.5814 47.4264 19.6161 47.5804 19.6094L47.845 19.598C48.743 19.559 49.0961 20.7481 48.3209 21.2052L48.0932 21.3403C47.9603 21.4185 47.8508 21.5309 47.776 21.6657C47.7012 21.8006 47.6639 21.953 47.6679 22.1071C47.6719 22.2612 47.717 22.4115 47.7987 22.5423C47.8803 22.6731 47.9955 22.7797 48.1322 22.8509L48.3676 22.9732C49.1654 23.3896 48.8761 24.5947 47.9759 24.6044L47.7107 24.6064C47.5566 24.6079 47.4056 24.6505 47.2734 24.73C47.1413 24.8095 47.0329 24.9229 46.9593 25.0584C46.8858 25.1939 46.8499 25.3467 46.8553 25.5008C46.8607 25.6549 46.9073 25.8047 46.9902 25.9347L47.1317 26.1585C47.6149 26.9177 46.7613 27.817 45.9781 27.3744L45.7464 27.2448C45.6122 27.1691 45.4603 27.1306 45.3063 27.1333C45.1523 27.136 45.0019 27.1799 44.8705 27.2603C44.7392 27.3407 44.6317 27.4548 44.5592 27.5907C44.4868 27.7266 44.452 27.8794 44.4584 28.0333L44.4696 28.2988C44.5086 29.1967 43.3196 29.5499 42.8624 28.7747L42.7274 28.547C42.6491 28.4141 42.5367 28.3046 42.4019 28.2298C42.2671 28.155 42.1147 28.1177 41.9605 28.1217C41.8064 28.1257 41.6561 28.1708 41.5253 28.2525C41.3945 28.3341 41.288 28.4493 41.2167 28.586L41.0945 28.8214C40.678 29.6192 39.473 29.3299 39.4632 28.4297L39.4612 28.1645C39.4598 28.0104 39.4171 27.8594 39.3376 27.7272C39.2581 27.5951 39.1448 27.4867 39.0092 27.4131C38.8737 27.3396 38.721 27.3037 38.5669 27.3091C38.4128 27.3145 38.2629 27.3611 38.1329 27.4439L37.9092 27.5855C37.1499 28.0687 36.2506 27.2151 36.6932 26.4319L36.8229 26.2002C36.8986 26.066 36.9371 25.9141 36.9343 25.7601C36.9316 25.6061 36.8878 25.4557 36.8073 25.3243C36.7269 25.193 36.6129 25.0855 36.4769 25.013C36.341 24.9406 36.1882 24.9058 36.0344 24.9122L35.7688 24.9234C34.8709 24.9624 34.5177 23.7734 35.2929 23.3162L35.5207 23.1811C35.6535 23.1029 35.763 22.9905 35.8378 22.8557C35.9126 22.7209 35.9499 22.5685 35.946 22.4143C35.942 22.2602 35.8968 22.1099 35.8152 21.9791C35.7335 21.8483 35.6184 21.7418 35.4816 21.6705L35.2463 21.5483ZM43.2893 18.0137L42.297 22.147L45.0087 25.4211C45.5419 24.8809 45.9298 24.2147 46.1363 23.4843C46.3427 22.7539 46.3609 21.9831 46.1893 21.2438C46.0177 20.5045 45.6618 19.8206 45.1547 19.2558C44.6477 18.691 44.006 18.2637 43.2893 18.0137ZM42.4142 17.8036C41.6622 17.701 40.8964 17.7904 40.1882 18.0634C39.48 18.3364 38.8524 18.7842 38.3638 19.3651C37.8753 19.9459 37.5416 20.6409 37.394 21.3854C37.2463 22.1299 37.2894 22.8997 37.5193 23.623L41.4228 21.9371L42.4142 17.8036ZM37.6573 23.9968C37.6694 24.0274 37.6827 24.0566 37.6959 24.0866L37.6573 23.9968ZM37.8774 24.4485C38.1794 24.9927 38.5914 25.4682 39.0871 25.8445C39.5829 26.2209 40.1515 26.4899 40.7568 26.6346C42.0302 26.9403 43.3073 26.6712 44.3149 25.994L41.6756 22.8077L37.8774 24.4485Z"
            fill="#A36C04"></path>
          <path
            d="M39.4113 31.8661L40.2822 28.3731M31.1188 35.3639L36.3584 36.6703M34.3918 33.3973L33.0854 38.6369M39.4113 31.8661C41.5831 32.4484 42.9096 32.7383 43.7776 32.9548C45.5241 33.3902 47.1618 34.2623 47.273 37.5365C47.3842 40.8106 46.9488 42.5572 46.4044 44.7403C45.8601 46.9235 44.0047 46.9247 42.2582 46.4892C40.5117 46.0538 40.4622 42.3312 37.0163 41.472C33.5703 40.6129 31.779 43.8765 30.0325 43.441C28.2859 43.0055 26.6483 42.1334 27.1926 39.9503C27.7369 37.7671 28.1724 36.0206 29.8077 33.1819C31.443 30.3432 33.2984 30.342 35.0449 30.7775C35.913 30.9939 37.2203 31.3607 39.4113 31.8661ZM42.6913 41.0319C42.9229 41.0896 43.168 41.053 43.3726 40.9301C43.5772 40.8071 43.7246 40.608 43.7823 40.3764C43.84 40.1448 43.8034 39.8997 43.6805 39.6951C43.5575 39.4905 43.3584 39.3431 43.1268 39.2854C42.8952 39.2276 42.6501 39.2642 42.4455 39.3872C42.2409 39.5101 42.0935 39.7093 42.0358 39.9409C41.978 40.1725 42.0146 40.4176 42.1376 40.6222C42.2605 40.8268 42.4597 40.9741 42.6913 41.0319ZM39.8514 37.5412C40.083 37.5989 40.3281 37.5623 40.5327 37.4394C40.7373 37.3164 40.8847 37.1172 40.9424 36.8856C41.0002 36.654 40.9635 36.409 40.8406 36.2044C40.7177 35.9998 40.5185 35.8524 40.2869 35.7946C40.0553 35.7369 39.8102 35.7735 39.6056 35.8965C39.401 36.0194 39.2536 36.2186 39.1959 36.4502C39.1381 36.6818 39.1748 36.9268 39.2977 37.1314C39.4206 37.336 39.6198 37.4834 39.8514 37.5412V37.5412Z"
            stroke="#A36C04"
            stroke-width="1.8"></path>
        </g>
        <path
          d="M1.63991 67V52.4545H11.782V55.3097H5.15554V58.2926H11.2635V61.1548H5.15554V64.1449H11.782V67H1.63991ZM26.3629 52.4545V67H23.38L17.5916 58.6051H17.4993V67H13.9837V52.4545H17.0092L22.7337 60.8352H22.8544V52.4545H26.3629ZM38.119 57.206C38.0385 56.9077 37.9201 56.6449 37.7638 56.4176C37.6076 56.1856 37.4158 55.9891 37.1886 55.8281C36.9613 55.6671 36.7009 55.5464 36.4073 55.4659C36.1138 55.3807 35.7918 55.3381 35.4414 55.3381C34.7359 55.3381 34.1251 55.5085 33.609 55.8494C33.0977 56.1903 32.7023 56.6875 32.4229 57.3409C32.1436 57.9896 32.0039 58.7779 32.0039 59.706C32.0039 60.6387 32.1388 61.4342 32.4087 62.0923C32.6786 62.7505 33.0692 63.2524 33.5806 63.598C34.092 63.9437 34.7122 64.1165 35.4414 64.1165C36.0853 64.1165 36.6299 64.0123 37.0749 63.804C37.5247 63.5909 37.8656 63.2902 38.0977 62.902C38.3297 62.5137 38.4457 62.0568 38.4457 61.5312L39.0991 61.6094H35.5621V59.0455H41.8335V60.9702C41.8335 62.2723 41.5565 63.3873 41.0025 64.3153C40.4532 65.2434 39.6957 65.956 38.7298 66.4531C37.7686 66.9503 36.663 67.1989 35.413 67.1989C34.0257 67.1989 32.8065 66.8982 31.7553 66.2969C30.7042 65.6955 29.8851 64.8385 29.2979 63.7259C28.7108 62.6084 28.4173 61.2827 28.4173 59.7486C28.4173 58.5554 28.5948 57.4972 28.9499 56.5739C29.305 55.6458 29.7998 54.8598 30.4343 54.2159C31.0735 53.572 31.8121 53.0843 32.6502 52.7528C33.493 52.4214 34.3997 52.2557 35.3704 52.2557C36.2132 52.2557 36.9968 52.3764 37.7212 52.6179C38.4504 52.8594 39.0943 53.2003 39.6531 53.6406C40.2165 54.081 40.6734 54.6042 41.0238 55.2102C41.3742 55.8163 41.592 56.4815 41.6772 57.206H38.119ZM47.4212 52.4545V67H43.9055V52.4545H47.4212ZM62.0075 52.4545V67H59.0245L53.2362 58.6051H53.1438V67H49.6282V52.4545H52.6538L58.3782 60.8352H58.4989V52.4545H62.0075ZM64.218 67V52.4545H74.3601V55.3097H67.7337V58.2926H73.8416V61.1548H67.7337V64.1449H74.3601V67H64.218Z"
          fill="white"></path>
        <defs>
          <clipPath id="clip0_352_373">
            <rect
              width="45"
              height="45"
              fill="white"
              transform="translate(24.1118 0.224854) rotate(14)"></rect>
          </clipPath>
        </defs>
      </svg>
      <div class="flex flex-grow justify-end gap-8 pr-16">
        <a href="/tutorials/gettingStarted/gettingStarted">Getting started</a>
        <a href="/docs/engine/options">Docs</a>
        <a href="/showcase/start">Showcase</a>
      </div>
    </nav>
    <main class="h-3/4">
      <h1 class="py-8 text-center text-4xl font-extrabold">
        Welcome to Engine
      </h1>
      <div class="relative flex h-4/5 flex-col font-bold md:flex-row">
        <canvas class="absolute z-[-1] h-full w-full bg-red-400"></canvas>
        <div class="grid flex-1 justify-between p-8">
          <p>
            This is temperary page for develop purpose only, you can find here
            tutorials, starting point or Docs
          </p>
          <p>
            Please note that this project is currently under construction and
            should not be used in any way. This website has been created solely
            for the purpose of providing the latest version of documentation to
            individuals involved in the project.
          </p>
          <div class="flex gap-8 self-center justify-self-center">
            <a href="/tutorials/gettingStarted/gettingStarted">
              <button class="w-48 rounded-3xl bg-blue-900 px-4 py-2 text-lg"
                >Getting Started</button
              >
            </a>
            <a href="/docs/engine/options">
              <button class="w-40 rounded-3xl bg-green-800 px-4 py-2 text-lg"
                >Docs</button
              >
            </a>
          </div>
        </div>
        <div class="relative grid flex-1 items-center justify-center">
          <img
            class="pointer-events-none absolute left-2/4 top-2/4 h-72 w-80 -translate-x-[54%] -translate-y-[48%] -rotate-3"
            src="/gameOne.png"
            alt="game One"
          />
          <img
            class="pointer-events-none absolute left-2/4 top-2/4 h-72 w-80 -translate-x-[43%] -translate-y-[54%] rotate-6"
            src="/gameTwo.png"
            alt="game Two"
          />
        </div>
      </div>
    </main>
  </body>
</html>
<script>
  const canva = document.querySelector("canvas")!;
  const ctx = canva.getContext("2d")!;
  let x = 20;
  function loop() {
    ctx.clearRect(0, 0, canva.width, canva.height), ctx.beginPath();
    ctx.beginPath();
    ctx.fillRect(x, 20, 150, 100);
    ctx.closePath();
    x += 1;
    if (x > canva.width) x = -150;
    window.requestAnimationFrame(loop);
  }
  loop();
</script>
