---
import Category from "../components/docs/sidebar/category.astro";
import Page from "../components/docs/sidebar/page.astro";
import SearchBox from "../components/docs/sidebar/searchBox.astro";
import TableOfContents from "../components/docs/sidebar/tableOfContents.astro";
import "../styles/astro/global.astro";
import "../styles/tailwind/docs.css";

interface Props {
  pageName: string;
}
const { pageName } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Docs/{pageName}</title>
  </head>
  <body class="scrollbar navGradient text-slate-100">
    <aside class="bodyGradient fixed bottom-0 h-full w-52 overflow-hidden">
      <h1 class="pt-4 text-center text-4xl font-extrabold">
        <a href="/"> ENGINE</a>
      </h1>
      <h2 class="pb-4 text-center text-2xl font-extrabold">DOCS</h2>
      <nav class="h-full">
        <SearchBox />
        <TableOfContents />
      </nav>
    </aside>
    <main class="ml-52 mr-12 px-24 pt-8">
      <slot />
    </main>
  </body>
</html>
