---
import MobileTopBar from "../components/docs/mobileBar/mobileTopBar.astro";
import DesktopAsidePanel from "../components/docs/sidebar/desktopAsidePanel.astro";
import "../styles/astro/global.astro";
import "../styles/tailwind/docs.css";

interface Props {
  pageName: string;
}
const { pageName } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Docs/{pageName}</title>
  </head>
  <body class="scrollbar navGradient text-slate-100">
    <MobileTopBar />
    <DesktopAsidePanel />
    <main class="px-4 pt-24 md:pl-56 md:pr-4 lg:pl-72 lg:pr-16">
      <slot />
    </main>
  </body>
</html>
