---
import Category from "../components/docs/sidebar/category.astro";
import Page from "../components/docs/sidebar/page.astro";
import SearchBox from "../components/docs/sidebar/searchBox.astro";
import TableOfContents from "../components/docs/sidebar/tableOfContents.astro";
import "../styles/astro/global.astro";
import "../styles/tailwind/docs.css";

interface Props {
  pageName: string;
}
const { pageName } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Docs/{pageName}</title>
  </head>
  <body class="scrollbar bg-slate-800 text-slate-100">
    <main>
      <aside class="fixed bottom-0 h-full w-52 overflow-hidden bg-DocsContents">
        <p class="pt-4 text-center text-4xl font-extrabold">ENGINE</p>
        <p class="pb-4 text-center text-2xl font-extrabold">DOCS</p>
        <SearchBox />
        <TableOfContents />
      </aside>
      <div class="ml-52 mr-12 px-24 pt-8">
        <slot />
      </div>
    </main>
  </body>
</html>
